@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: antiquewhite;   
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img{
    width: 60px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 54vh;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    margin: 23px auto;
    width: 90%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
}